.collapsible {
    height: 570px;
    width: 500px;
    float: right;
    position: fixed;
    bottom: -540px;
    right: 0;
    z-index: 300;
}

.active-chat {
    position:fixed;
    height: auto;
    bottom: 0;
}

.rocketchat-header {
    height: 20px;
    width: 478px;
    position: relative;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid $primary-medium;
    text-align: left;
    color: $primary;
    cursor: pointer;
}

.rocketchat-header a {
    color: $primary;
}

.chatbutton.active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.chatbutton {
    outline: none;
    float: right;
    position: absolute;
    right: 5px;
    border: none;
    background: none;
}

.rocketchat-container {
    width: 498px;
    height: 540px;
    max-height: calc(100vh - 140px);
    border: 1px solid $primary-medium;
    border-top: none;
    background-color: $secondary-low;
    overflow: hidden;
    position: relative;
}

.rocketchat-embed {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   bottom: 0;
   width: 100%;
}
