<div id="rocketchat-embed" class={{classList}}>
  <div class="rocketchat-header">
    Chat | CannabisAnbauen.net
    <button type="button" class="chatbutton" onclick={{action "togglePopup"}}>{{ labelOC }}</button>
  </div>
  <div id="rocketchat-container" class="rocketchat-container">
  </div>
</div>
